name: "Create release"
run-name: "Release Python 3.15.${{ inputs.python_micro }}"

env:
  WASI_SDK_PATH: "/opt/wasi-sdk"
  PYTHON_MAJOR_MINOR: "3.15"
  TARGET_TRIPLE: "wasm32-wasip1"

on:
    workflow_dispatch:
        inputs:
            python_micro:
                required: true
                description: "Micro version + release level of CPython to build"

permissions: {}

jobs:
    get-wasi-sdk-version:
      name: "Get WASI SDK version"
      runs-on: ubuntu-slim
      outputs:
        wasi_sdk_version: ${{ steps.get-version.outputs.wasi_sdk_version }}
      steps:
        - name: "Checkout the CPython v${{ env.PYTHON_MAJOR_MINOR }}.${{ inputs.python_micro }} branch"
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
          with:
            repository: "python/cpython"
            ref: "v${{ env.PYTHON_MAJOR_MINOR }}.${{ inputs.python_micro }}"
            persist-credentials: false
        - name: "Install Python"
          uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
          with:
            python-version: "3.x"
        - name: "Get WASI SDK version"
          id: get-version
          shell: python
          run: |
            import tomllib
            from pathlib import Path
            import os
            config = tomllib.loads(Path("Platforms/WASI/config.toml").read_text())
            version = config["targets"]["wasi-sdk"]
            with open(os.environ["GITHUB_OUTPUT"], "a") as f:
                f.write(f"wasi_sdk_version={version}\n")

    build:
      needs: get-wasi-sdk-version
      name: "Build CPython using the WASI SDK"
      runs-on: ubuntu-latest
      env:
        ZIP_DIR: "zip-file"
      steps:
        - name: "Install build dependencies"
          # https://devguide.python.org/getting-started/setup-building/#linux
          # Removed: gdb lcov libncurses5-dev libreadline6-dev tk-dev
          run: |
            sudo apt-get update
            sudo apt-get install build-essential pkg-config \
            libbz2-dev libffi-dev libgdbm-dev libgdbm-compat-dev \
            liblzma-dev libsqlite3-dev libssl-dev \
            lzma lzma-dev uuid-dev zlib1g-dev
        - name: "Install Python"
          uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
          with:
            python-version: "3.x"
        - name: "Checkout the CPython v${{ env.PYTHON_MAJOR_MINOR }}.${{ inputs.python_micro }} branch"
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
          with:
            repository: "python/cpython"
            ref: "v${{ env.PYTHON_MAJOR_MINOR }}.${{ inputs.python_micro }}"
            persist-credentials: false
        - name: "Install WASI SDK ${{ needs.get-wasi-sdk-version.outputs.wasi_sdk_version }}"
          run: |
            mkdir ${{ env.WASI_SDK_PATH }} && \
            curl -s -S --location https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-${NEEDS_GET_WASI_SDK_VERSION_OUTPUTS_WASI_SDK_VERSION}/wasi-sdk-${NEEDS_GET_WASI_SDK_VERSION_OUTPUTS_WASI_SDK_VERSION}.0-x86_64-linux.tar.gz | \
            tar --strip-components 1 --directory ${{ env.WASI_SDK_PATH }} --extract --gunzip
            $WASI_SDK_PATH/bin/clang --version
          env:
            NEEDS_GET_WASI_SDK_VERSION_OUTPUTS_WASI_SDK_VERSION: ${{ needs.get-wasi-sdk-version.outputs.wasi_sdk_version }}
        - name: "Install wasmtime"
          uses: bytecodealliance/actions/wasmtime/setup@6aecabac1eb1dcf7ed94ba9471974415ee2ebef2 # v1.1.2
        - name: "Build"
          run: python3 Tools/wasm/wasi build
        - name: "Create lib directory"
          shell: bash
          run: |
            set -e
            export PYTHON_BIN_NAME=$(cross-build/*-linux-*/python -c "import sys; print(f'python{sys.version_info.major}.{sys.version_info.minor}')")
            export ZIP_LIB_DIR=${{ env.ZIP_DIR }}/lib/$PYTHON_BIN_NAME
            mkdir --parents $ZIP_LIB_DIR
            echo "ZIP_LIB_DIR=$ZIP_LIB_DIR" >> $GITHUB_ENV
        - name: "Copy python.wasm"
          run: cp  cross-build/${{ env.TARGET_TRIPLE }}/python.wasm ${{ env.ZIP_DIR }}
        - name: "Copy stdlib"
          # Adding lib-dynload to silence the error message:
          # "Could not find platform dependent libraries <exec_prefix>".
          run: |
            cp -r Lib/* ${ZIP_LIB_DIR}
            mkdir ${ZIP_LIB_DIR}/lib-dynload
        - name: "Strip stdlib"
          # Based on preexisting practice; could probably strip out more.
          run: |
            pushd ${ZIP_LIB_DIR}
            rm -rf curses/ ctypes/test/ ensurepip/ distutils/ \
              lib2to3/ idlelib/ test/ multiprocessing/ \
              tkinter/ turtledemo/ venv/ unittest/test/
            find -name __pycache__ | xargs rm -rf
            popd
        - name: "Copy over _sysconfigdata_*.py"
          run: cp cross-build/${{ env.TARGET_TRIPLE }}/build/lib.*/_sysconfigdata_*.py ${ZIP_LIB_DIR}
        - name: "Copy LICENSE"
          run: cp LICENSE ${{ env.ZIP_DIR }}/
        - name: "Create executable zip"
          run: |
            pushd ${{ env.ZIP_DIR }}
            zip -r python.zip *
            popd
        - name: "Create build artifact zip"
          run: |
            cp LICENSE cross-build/${{ env.TARGET_TRIPLE }}/
            pushd cross-build/${{ env.TARGET_TRIPLE }}
            zip build.zip \
              LICENSE \
              config.log config.cache Makefile pyconfig.h libpython*.a \
              Modules/Setup.local Modules/Setup.stdlib Modules/config.c \
              Modules/_decimal/libmpdec/libmpdec.a \
              Modules/_hacl/*.a \
              Modules/expat/libexpat.a \
              Programs/python.o
            popd
        - name: "Upload executable zip"
          uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
          with:
            name: python
            path: ${{ env.ZIP_DIR }}/python.zip
            retention-days: 1
        - name: "Upload build artifact zip"
          uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
          with:
            name: build
            path: cross-build/${{ env.TARGET_TRIPLE }}/build.zip
            retention-days: 1

    test:
      needs: build
      name: "Test the build"
      runs-on: ubuntu-slim
      steps:
        - name: "Install wasmtime"
          uses: bytecodealliance/actions/wasmtime/setup@6aecabac1eb1dcf7ed94ba9471974415ee2ebef2 # v1.1.2
        - name: "Download executable zip"
          uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
          with:
            name: python
        - name: "Extract executable zip"
          run: unzip python.zip
        - name: "Test"
          run: wasmtime --dir . python.wasm -m sysconfig

    release:
      needs: [test, get-wasi-sdk-version]
      name: "Create draft release"
      runs-on: ubuntu-slim
      permissions:
        contents: write
      environment:
        name: release
        url: https://github.com/brettcannon/cpython-wasi-build/releases/tag/v${{ env.PYTHON_MAJOR_MINOR }}.${{ inputs.python_micro }}
      steps:
        - name: "Download executable zip"
          uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
          with:
            name: python
        - name: "Download build artifact zip"
          uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
          with:
            name: build
        - name: "Calculate zip file names"
          run: |
            export ZIP_FILE_NAME=python-${{ env.PYTHON_MAJOR_MINOR }}.${INPUTS_PYTHON_MICRO}-wasi_sdk-${NEEDS_GET_WASI_SDK_VERSION_OUTPUTS_WASI_SDK_VERSION}.zip
            echo "EXECUTABLE_FILE_NAME=$ZIP_FILE_NAME" >> $GITHUB_ENV
            echo "BUILD_ARTIFACTS_FILE_NAME=_build-$ZIP_FILE_NAME" >> $GITHUB_ENV
          env:
            INPUTS_PYTHON_MICRO: ${{ inputs.python_micro }}
            NEEDS_GET_WASI_SDK_VERSION_OUTPUTS_WASI_SDK_VERSION: ${{ needs.get-wasi-sdk-version.outputs.wasi_sdk_version }}
        - name: "Rename zip files"
          run: |
            mv python.zip ${EXECUTABLE_FILE_NAME}
            mv build.zip ${BUILD_ARTIFACTS_FILE_NAME}
        - name: "Create draft release"
          run: |
            gh release create v${{ env.PYTHON_MAJOR_MINOR }}.${INPUTS_PYTHON_MICRO} \
              --title "CPython ${{ env.PYTHON_MAJOR_MINOR }}.${INPUTS_PYTHON_MICRO} w/ WASI SDK ${NEEDS_GET_WASI_SDK_VERSION_OUTPUTS_WASI_SDK_VERSION}" \
              --repo "brettcannon/cpython-wasi-build" \
              --draft \
              ${EXECUTABLE_FILE_NAME} ${BUILD_ARTIFACTS_FILE_NAME}
          env:
            GH_TOKEN: ${{ github.token }}
            INPUTS_PYTHON_MICRO: ${{ inputs.python_micro }}
            NEEDS_GET_WASI_SDK_VERSION_OUTPUTS_WASI_SDK_VERSION: ${{ needs.get-wasi-sdk-version.outputs.wasi_sdk_version }}
