name: "Create release"

env:
  WASI_SDK_PATH: "/opt/wasi-sdk"
  PYTHON_MAJOR_MINOR: "3.15"
  TARGET_TRIPLE: "wasm32-wasip1"

on:
    workflow_dispatch:
        inputs:
            python_micro:
                required: true
                description: "Micro version + release level of CPython to build"

permissions: {}

jobs:
    get-wasi-sdk-version:
      name: "Get WASI SDK version"
      runs-on: ubuntu-slim
      outputs:
        wasi_sdk_version: ${{ steps.get-version.outputs.wasi_sdk_version }}
      steps:
        - name: "Checkout the CPython v${{ env.PYTHON_MAJOR_MINOR }}.${{ inputs.python_micro }} branch"
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
          with:
            repository: "python/cpython"
            ref: "v${{ env.PYTHON_MAJOR_MINOR }}.${{ inputs.python_micro }}"
            persist-credentials: false
        - name: "Get WASI SDK version"
          id: get-version
          run: |
            WASI_SDK_VERSION=$(grep '^WASI_SDK_VERSION = ' Tools/wasm/wasi/__main__.py | cut -d= -f2 | tr -d ' ')
            echo "wasi_sdk_version=$WASI_SDK_VERSION" >> $GITHUB_OUTPUT

    draft-release:
      name: "Draft release"
      needs: get-wasi-sdk-version
      runs-on: ubuntu-slim
      permissions:
        contents: write
      steps:
        - name: "Create draft release"
          run: |
            gh release create v${{ env.PYTHON_MAJOR_MINOR }}.${INPUTS_PYTHON_MICRO} --title "CPython ${{ env.PYTHON_MAJOR_MINOR }}.${INPUTS_PYTHON_MICRO} w/ WASI SDK ${NEEDS_GET_WASI_SDK_VERSION_OUTPUTS_WASI_SDK_VERSION}" --repo "brettcannon/cpython-wasi-build" --draft
          env:
            GH_TOKEN: ${{ github.token }}
            INPUTS_PYTHON_MICRO: ${{ inputs.python_micro}}
            NEEDS_GET_WASI_SDK_VERSION_OUTPUTS_WASI_SDK_VERSION: ${{ needs.get-wasi-sdk-version.outputs.wasi_sdk_version }}

    build:
      needs: [draft-release, get-wasi-sdk-version]
      name: "Build CPython using the WASI SDK"
      runs-on: ubuntu-latest
      permissions:
        contents: write
      steps:
        - name: "Install build dependencies"
          # https://devguide.python.org/getting-started/setup-building/#linux
          # Removed: gdb lcov libncurses5-dev libreadline6-dev tk-dev
          run: |
            sudo apt-get update
            sudo apt-get install build-essential pkg-config \
            libbz2-dev libffi-dev libgdbm-dev libgdbm-compat-dev \
            liblzma-dev libsqlite3-dev libssl-dev \
            lzma lzma-dev uuid-dev zlib1g-dev
        - name: "Install Python"
          uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
          with:
            python-version: "3.x"
        - name: "Checkout the CPython v${{ env.PYTHON_MAJOR_MINOR }}.${{ inputs.python_micro }} branch"
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
          with:
            repository: "python/cpython"
            ref: "v${{ env.PYTHON_MAJOR_MINOR }}.${{ inputs.python_micro }}"
            persist-credentials: false
        - name: "Install WASI SDK ${{ needs.get-wasi-sdk-version.outputs.wasi_sdk_version }}"
          run: |
            mkdir ${{ env.WASI_SDK_PATH }} && \
            curl -s -S --location https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-${NEEDS_GET_WASI_SDK_VERSION_OUTPUTS_WASI_SDK_VERSION}/wasi-sdk-${NEEDS_GET_WASI_SDK_VERSION_OUTPUTS_WASI_SDK_VERSION}.0-x86_64-linux.tar.gz | \
            tar --strip-components 1 --directory ${{ env.WASI_SDK_PATH }} --extract --gunzip
            $WASI_SDK_PATH/bin/clang --version
          env:
            NEEDS_GET_WASI_SDK_VERSION_OUTPUTS_WASI_SDK_VERSION: ${{ needs.get-wasi-sdk-version.outputs.wasi_sdk_version }}
        - name: "Install wasmtime"
          uses: bytecodealliance/actions/wasmtime/setup@6aecabac1eb1dcf7ed94ba9471974415ee2ebef2 # v1.1.2
        - name: "Build"
          run: python3 Tools/wasm/wasi build
        - name: "Create lib directory"
          shell: bash
          run: |
            set -e
            export PYTHON_BIN_NAME=$(cross-build/build/python -c "import sys; print(f'python{sys.version_info.major}.{sys.version_info.minor}')")
            export ZIP_LIB_DIR=zip-file/lib/$PYTHON_BIN_NAME
            mkdir --parents $ZIP_LIB_DIR
            echo "ZIP_LIB_DIR=$ZIP_LIB_DIR" >> $GITHUB_ENV
        - name: "Copy python.wasm"
          run: cp  cross-build/${{ env.TARGET_TRIPLE }}/python.wasm zip-file
        - name: "Copy stdlib"
          # Adding lib-dynload to silence the error message:
          # "Could not find platform dependent libraries <exec_prefix>".
          run: |
            cp -r Lib/* ${ZIP_LIB_DIR}
            mkdir ${ZIP_LIB_DIR}/lib-dynload
        - name: "Strip stdlib"
          # Based on preexisting practice; could probably strip out more.
          run: |
            pushd ${ZIP_LIB_DIR}
            rm -rf curses/ ctypes/test/ ensurepip/ distutils/ \
              lib2to3/ idlelib/ test/ multiprocessing/ \
              tkinter/ turtledemo/ venv/ unittest/test/
            find -name __pycache__ | xargs rm -rf
            popd
        - name: "Copy over _sysconfigdata_*.py"
          run: cp cross-build/${{ env.TARGET_TRIPLE }}/build/lib.*/_sysconfigdata_*.py ${ZIP_LIB_DIR}
        - name: "Calculate zip file names"
          run: |
            export ZIP_FILE_NAME=python-${{ env.PYTHON_MAJOR_MINOR }}.${INPUTS_PYTHON_MICRO}-wasi_sdk-${NEEDS_GET_WASI_SDK_VERSION_OUTPUTS_WASI_SDK_VERSION}.zip
            echo "EXECUTABLE_FILE_NAME=$ZIP_FILE_NAME" >> $GITHUB_ENV
            echo "BUILD_ARTIFACTS_FILE_NAME=_build-$ZIP_FILE_NAME" >> $GITHUB_ENV
          env:
            INPUTS_PYTHON_MICRO: ${{ inputs.python_micro }}
            NEEDS_GET_WASI_SDK_VERSION_OUTPUTS_WASI_SDK_VERSION: ${{ needs.get-wasi-sdk-version.outputs.wasi_sdk_version }}
        - name: "Create executable zip"
          run: |
            pushd zip-file
            zip -r ${EXECUTABLE_FILE_NAME} *
            popd
        - name: "Create build artifact zip"
          run: |
            pushd cross-build/${{ env.TARGET_TRIPLE }}
            zip ${BUILD_ARTIFACTS_FILE_NAME} \
              config.log config.cache Makefile pyconfig.h libpython*.a \
              Modules/Setup.local Modules/Setup.stdlib Modules/config.c \
              Modules/_decimal/libmpdec/libmpdec.a \
              Modules/_hacl/*.a \
              Modules/expat/libexpat.a \
              Programs/python.o
            popd
        - name: "Attach files to the release"
          run: |
            gh release upload v${{ env.PYTHON_MAJOR_MINOR }}.${INPUTS_PYTHON_MICRO} zip-file/${EXECUTABLE_FILE_NAME} cross-build/${{ env.TARGET_TRIPLE }}/${BUILD_ARTIFACTS_FILE_NAME} --repo "brettcannon/cpython-wasi-build"
          env:
            GH_TOKEN: ${{ github.token }}
            INPUTS_PYTHON_MICRO: ${{ inputs.python_micro }}
