name: "Create release"

env:
  WASI_SDK_PATH: "/opt/wasi-sdk"
  WASI_SDK_VERSION: "24"
  PYTHON_MAJOR_MINOR: "3.14"
  TARGET_TRIPLE: "wasm32-wasip1"

on:
    workflow_dispatch:
        inputs:
            python_micro:
                required: true
                description: "Micro version + release level of CPython to build"

permissions:
  contents: write

jobs:
    draft-release:
      name: "Draft release"
      runs-on: ubuntu-latest
      steps:
        - name: "Create draft release"
          run: |
            gh release create v${{ env.PYTHON_MAJOR_MINOR }}.${{ inputs.python_micro }} --title "CPython ${{ env.PYTHON_MAJOR_MINOR }}.${{ inputs.python_micro}} w/ WASI SDK ${{ env.WASI_SDK_VERSION }}" --repo "brettcannon/cpython-wasi-build" --draft
          env:
            GH_TOKEN: ${{ github.token }}

    build:
      needs: draft-release
      name: "Build CPython using the WASI SDK"
      runs-on: ubuntu-latest
      steps:
        - name: "Install WASI SDK ${{ env.WASI_SDK_VERSION }}"
          run: |
            mkdir ${{ env.WASI_SDK_PATH }} && \
            curl -s -S --location https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-${{ env.WASI_SDK_VERSION }}/wasi-sdk-${{ env.WASI_SDK_VERSION }}.0-x86_64-linux.tar.gz | \
            tar --strip-components 1 --directory ${{ env.WASI_SDK_PATH }} --extract --gunzip
            $WASI_SDK_PATH/bin/clang --version
        - name: "Install wasmtime"
          uses: bytecodealliance/actions/wasmtime/setup@v1
        - name: "Install build dependencies"
          # https://devguide.python.org/getting-started/setup-building/#linux
          # Removed: gdb lcov libncurses5-dev libreadline6-dev tk-dev
          run: |
            sudo apt-get install build-essential pkg-config \
            libbz2-dev libffi-dev libgdbm-dev libgdbm-compat-dev \
            liblzma-dev libsqlite3-dev libssl-dev \
            lzma lzma-dev uuid-dev zlib1g-dev
        - name: "Install Python"
          uses: actions/setup-python@v5
          with:
            python-version: "3.x"
        - name: "Checkout the CPython v${{ env.PYTHON_MAJOR_MINOR }}.${{ inputs.python_micro }} branch"
          uses: actions/checkout@v4
          with:
            repository: "python/cpython"
            ref: "v${{ env.PYTHON_MAJOR_MINOR }}.${{ inputs.python_micro }}"
        - name: "Build"
          run: python3 Tools/wasm/wasi.py build
        - name: "Create lib directory"
          shell: bash
          run: |
            export PYTHON_BIN_NAME=`cross-build/build/python -c "import sys; print(f'python{sys.version_info.major}.{sys.version_info.minor}')"`
            export ZIP_LIB_DIR=zip-file/lib/$PYTHON_BIN_NAME
            mkdir --parents $ZIP_LIB_DIR
            echo "ZIP_LIB_DIR=$ZIP_LIB_DIR" >> $GITHUB_ENV
        - name: "Copy python.wasm"
          run: cp  cross-build/${{ env.TARGET_TRIPLE }}/python.wasm zip-file
        - name: "Copy stdlib"
          # Adding lib-dynload to silence the error message:
          # "Could not find platform dependent libraries <exec_prefix>".
          run: |
            cp -r Lib/* ${{ env.ZIP_LIB_DIR }}
            mkdir ${{ env.ZIP_LIB_DIR }}/lib-dynload
        - name: "Strip stdlib"
          # Based on preexisting practice; could probably strip out more.
          run: |
            pushd ${{ env.ZIP_LIB_DIR }}
            rm -rf curses/ ctypes/test/ ensurepip/ distutils/ \
              lib2to3/ idlelib/ test/ multiprocessing/ \
              tkinter/ turtledemo/ venv/ unittest/test/
            find -name __pycache__ | xargs rm -rf
            popd
        - name: "Copy over _sysconfigdata_*.py"
          run: cp cross-build/${{ env.TARGET_TRIPLE }}/build/lib.*/_sysconfigdata_*.py ${{ env.ZIP_LIB_DIR }}
        - name: "Calculate zip file names"
          run: |
            export ZIP_FILE_NAME=python-${{ env.PYTHON_MAJOR_MINOR }}.${{ inputs.python_micro }}-wasi_sdk-${{ env.WASI_SDK_VERSION }}.zip
            echo "EXECUTABLE_FILE_NAME=$ZIP_FILE_NAME" >> $GITHUB_ENV
            echo "BUILD_ARTIFACTS_FILE_NAME=_build-$ZIP_FILE_NAME" >> $GITHUB_ENV
        - name: "Create executable zip"
          run: |
            pushd zip-file
            zip -r ${{ env.EXECUTABLE_FILE_NAME }} *
            popd
        - name: "Create build artifact zip"
          run: |
            pushd cross-build/${{ env.TARGET_TRIPLE }}
            zip ${{ env.BUILD_ARTIFACTS_FILE_NAME }} \
              config.log config.cache Makefile pyconfig.h libpython*.a \
              Modules/Setup.local Modules/Setup.stdlib Modules/config.c \
              Modules/_decimal/libmpdec/libmpdec.a \
              Modules/_hacl/*.a \
              Modules/expat/libexpat.a \
              Programs/python.o
            popd
        - name: "Attach files to the release"
          run: |
            gh release upload v${{ env.PYTHON_MAJOR_MINOR }}.${{ inputs.python_micro }} zip-file/${{ env.EXECUTABLE_FILE_NAME }} cross-build/${{ env.TARGET_TRIPLE }}/${{ env.BUILD_ARTIFACTS_FILE_NAME }} --repo "brettcannon/cpython-wasi-build"
          env:
            GH_TOKEN: ${{ github.token }}
